li a {
    color:green ;
}

body{
    background: whitesmoke url("images/bg.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
